*{
  font-family: lato;
}

.ap_content{
  display: flex;
  flex-direction: column;
}

.dark_mode{
  background-color: #312B46;
}
.cols{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* margin-left: px; */
  /* gap: 0px; */
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
hr{
  margin-top: 0.2px;
}
h2{
  background: #FFD5CD;
border: 1px solid #000000;
font-family: Jaldi;
font-style: normal;
font-weight: 400;
font-size: 17px;
text-transform: uppercase;
/* line-height: 18px; */
padding: 15px;
width:300px;
margin-top: 1.5px;
}


.border_prop, .color_setting{
  background: #F9F9F9;
border: 1px solid #000000;
border-radius: 12px;
padding: 10px;
display: flex;
flex-direction: column;
gap:2px;
}

.prop{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-left: 50px;
}


Toggle{
  margin-top: 10px;
}
Preview{
  align-items: center;
}

Footer{
  margin-bottom: 0;
  margin-top: 400px;
}


@media screen and (max-width: 600px){
  .cols{
    flex-direction: column;
    justify-content: center;
  }
  
}